# logs
/main_logs/

# virtual environment
/.venv/
code/__pycache__/preprocess.cpython-313.pyc
code/__pycache__/train.cpython-313.pyc
utils/__pycache__

out_chunks
code/__pycache__/

checkpoints/
checkpoints_Backup/
lightning_logs/

bigearthnet_df.pkl
datamodule.pt